.button {
  cursor: pointer;
  height: 36px;
  display: block;
  padding: 0 32px;
  border-radius: 6px;
  border: none;
}

.button_type_submit {
  font-weight: bold;
  background-color: #00a400;
  color: #fff;
  font-size: 16px;
  margin: 16px auto;
}

.button_type_link {
  margin: 10px auto;
  background: none;
  color: #3973e3;
  font-weight: normal;
  font-size: 16px;
}