@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/helvetica_regular.otf") format("otf");
}

@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/helvetica_bold.otf") format("otf");
}

* {
  box-sizing: border-box;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: normal;
}

input {
  outline: none;
}